.promo:hover {
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0,0,0,.1);;
    transform: translate3d(0, -2px, 0) ;
}
.promo {
    transition: all .2s linear;
}
.promo img{
    width:234px;
}